body{
    margin:0px;
    background-color: rgb(15 15 15);
    color:white;
}

#header{
    background-color: rgb(24, 34, 121);
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0px;
    height:70px;
    width:100%;
}


#homepage{
    font-size: 20px;
    margin-left: 30px;
}

#links{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:200px;
    height:100%;
    font-size: 20px;
    margin-right: 60px;
}

.nav-link{
    padding:22px 10px;
}
.nav-link:hover{
    cursor:pointer;
    background-color: rgb(44, 57, 173);
    text-decoration:none;
}

@media (max-width:500px) {

    h2 {
        font-size: 20px;
    }

    #links {
        font-size: 15px;
        margin-right:0px;
    }

    footer {
        font-size:15px;
    }

    #copy {
        font-size: 10px;
    }

    #homepage {
        font-size:15px;
    }
}